{{ define "main" }}
<section class="blog-top container-root">
    <div class="row p-0">
        <nav class="col-lg-8">
            {{ if or (eq .Section "blog") (eq .Section "categories") }}
  			        {{ $url := .URL }}
                <a href="{{ "/blog/" | absURL }}" {{ if eq $url "/blog/" }}class="active"{{ end }}>All</a>

                {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
                    <a href="/categories/{{ .Title | urlize }}/" {{ if eq $url .URL }}class="active"{{ end }}>{{ humanize .Title }}</a>
                {{ end }}
            {{ end }}
        </nav>
        {{- partial "search.html" . -}}
    </div>
</section>

<div class="hero solid auto-height">
    <section class="blog-list container">
        <div class="row">
            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
            <div class="col-md-4">
                <a href="{{- .URL | absURL -}}" title="" class="blog-post">
                    <div class="blog-image" style="background-image: url('{{- .Params.Thumbnail -}}'); background-size:cover;">
                    </div>
                    <p class="title">{{- .Title -}}</p>
                    <p class="meta">{{- .ReadingTime -}}&nbsp;min to read <span class="author">by <strong>{{- .Params.Author -}}</strong></span></p>
                </a>
            </div>
            {{ end }}
        </div>

    {{ if eq true .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL | absURL }}" style="float:left">Prev Page</a>
    {{ end }}
    {{ if eq true .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL | absURL }}" style="float:right">Next Page</a>
    {{ end }}
    </section>
</div>
{{ end }}
