{{ define "main" }}
<section class="page-top" style="background-image: url('/image/page-top/e-commerce.jpg')">
    <section class="container">
      <h2>About</h2>
      <h1>Expertise</h1>
    </section>
  </section>
  
  <section class="content content-narrow">
    <section class="container">
      <section class="article-list">
        <h1>Our Expertise</h1>
        <article>
          <img src="/image/expertise/user-experience-design.jpg" alt="User Experience & Design">
          <h2>User Experience & Design</h2>
          <p>We use a human-centered approach to creating transformative, digital experiences that solve the
            most complex business challenges.</p>
          <ul class="light-style">
            <li>Visual UI design and interaction</li>
            <li>Prototyping</li>
            <li>Style Guide Creation</li>
            <li>Accessibility Testing</li>
          </ul>
        </article>
  
        <article class="direction-right">
          <img src="/image/expertise/frontend-development.jpg" alt="Front-end Development">
          <h2>Front-end Development</h2>
          <p>Our team of developers makes sure your digital platform will engage and convince your users.
            From development strategy, to implementation and maintenance, your project is in good hands with us.</p>
          <section class="two-col-list">
            <ul class="light-style">
              <li>A solid architecture</li>
              <li>Implementation</li>
              <li>Future-proof</li>
            </ul>
            <ul class="light-style">
              <li>Mobile Development for IOS & Android</li>
            </ul>
          </section>
        </article>
  
        <article>
          <img src="/image/expertise/backend-development.jpg" alt="Back-end Development">
          <h2>Back-end Development</h2>
          <p>Users may not see your back-end code, but they experience the power of those snippets through the product's
            functionality – from payment forms, to email opt-ins and social sharing and all the other alluring visual
            elements mapped out by our UX gurus and built with front-end code</p>
          <section class="two-col-list">
            <ul class="light-style">
              <li>Architectural Build</li>
              <li>Responsive Theme Development </li>
              <li>Deployment Planning</li>
              <li>Accessibility Testing</li>
            </ul>
            <ul class="light-style">
              <li>Back - End Development</li>
              <li>Functional Testing</li>
              <li>Quality Assurance</li>
            </ul>
          </section>
        </article>
      </section>
      <hr class="blue arrow-up">
      <article>
        <h1 class="no-underline">Our Skills Include</h1>
        <ul class="skill-list">
          <li>
            <img src="/image/skills/php.svg" alt="PHP"> PHP
          </li>
          <li>
            <img src="/image/skills/symfony.svg" alt="Symfony"> Symfony
          </li>
          <li>
            <img src="/image/skills/mysql.svg" alt="MySQL"> MySQL
          </li>
          <li>
            <img src="/image/skills/elastic.svg" alt="Elastic Search"> Elastic Search
          </li>
          <li>
            <img src="/image/skills/nodejs.svg" alt="NodeJS"> NodeJS
          </li>
          <li>
            <img src="/image/skills/rabbitmq.svg" alt="RabbitMQ"> RabbitMQ
          </li>
          <li>
            <img src="/image/skills/redis.svg" alt="Redis"> Redis
          </li>
          <li>
            <img src="/image/skills/neo4j.svg" alt="Neo4J"> Neo4J
          </li>
          <li>
            <img src="/image/skills/docker.svg" alt="Docker"> Docker
          </li>
          <li>
            <img src="/image/skills/npm.svg" alt="NPM"> NPM
          </li>
          <li>
            <img src="/image/skills/aws.svg" alt="AWS"> AWS
          </li>
          <li>
            <img src="/image/skills/angular.svg" alt="Angular"> Angular
          </li>
          <li>
            <img src="/image/skills/sass.svg" alt="Sass"> Sass
          </li>
          <li>
            <img src="/image/skills/git.svg" alt="Git"> Git
          </li>
          <li>
            <img src="/image/skills/react.svg" alt="React"> React
          </li>
          <li>
            <img src="/image/skills/es6.svg" alt="ES6"> ES6
          </li>
          <li>
            <img src="/image/skills/vue.svg" alt="Vue"> Vue
          </li>
          <li>
            <img src="/image/skills/gulp.svg" alt="Gulp"> Gulp
          </li>
          <li>
            <img src="/image/skills/webpack.svg" alt="Webpack"> Webpack
          </li>
          <li>
            <img src="/image/skills/bower.svg" alt="Bower"> Bower
          </li>
          <li>
            <img src="/image/skills/twig.png" alt="Twig"> Twig
          </li>
          <li>
            <img src="/image/skills/linters.svg" alt="Linters"> Linters
          </li>
          <li>
            <img src="/image/skills/mongodb.svg" alt="MongoDB"> MongoDB
          </li>
        </ul>
      </article>
      <hr class="blue arrow-down">
      <article>
        <h1>What Is Your MVP Type</h1>
        <p>The biggest risk most startups face is making something nobody wants. In order to learn
          effectively about your customers, you have to launch your product fast. Always try to put your MVP in users
          hands and get real feedback as soon as possible.The biggest risk most startups face is making something
          nobody wants. In order to learn effectively about your customers, you have to launch your product fast.
          Always try to put your MVP in users hands and get real feedback as soon as possible.</p>
  
        <ul class="service-list">
          <li>
            <a href="javascript:;">
              <i class="icon-saas"></i>  Software<br> as a Service <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-landing"></i>  Landing<br> Pages <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-blogging"></i>  Blogging<br> Websites <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-corporate"></i>  Corporate<br> Websites <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-ecommerce"></i>  e-Commerce<br> Websites <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-mobile"></i>  iOS & Android<br> Applications <span>Details</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-directory"></i>  Directory<br> Websites <span>Details</span>
            </a>
          </li>
        </ul>
      </article>
    </section>
  </section>
{{ end }}