@font-face {
  font-family: 'GT Walsheim Pro Bold';
  src:
    url('../font/gtwalsheimpro-bold-webfont.woff2') format('woff2'),
    url('../font/gtwalsheimpro-bold-webfont.woff') format('woff')
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Medium';
  src:
    url('../font/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
    url('../font/gtwalsheimpro-medium-webfont.woff') format('woff')
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src:
    url('../font/gtwalsheimpro-webfont.woff2') format('woff2'),
    url('../font/gtwalsheimpro-webfont.woff') format('woff')
  ;
  font-weight: normal;
  font-style: normal;
}
