{{ define "main"}}
{{ partial "slider.html" .}}
      
      <section class="content">
        <article class="container">
          <h1>What We Do</h1>
          <p class="hero-block">Map a Strategy, build a solution  or elevate your product experience with focused engagements
            available as standalone offerings or as a  part of your project’s service stack</p>
      
          <ul class="service-list">
            <li>
              <a href="javascript:;">
                <i class="icon-strategy"></i>  Strateging<br> Consulting <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-ux"></i>  User<br> Experience <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-cloud"></i>  Cloud<br> Services <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-management"></i>  Project<br> Management <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-web"></i>  Web<br> Development <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-mobile"></i>  Mobile<br> Development <span>Details</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-quality"></i>  Quality<br> Assurance <span>Details</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
      
      <section class="content with-moneo-sign">
        <article class="container">
          <h1 class="no-underline">Featured Projects</h1>
          <nav class="project-list">
            <a href="javascript:;">
              <img src="/image/project/mobile-1.jpg" alt="mobile development">
            </a>
            <a href="javascript:;">
              <img src="/image/project/desktop.jpg" alt="web development">
            </a>
            <a href="javascript:;">
              <img src="/image/project/mobile-2.jpg" alt="mobile development">
            </a>
            <a href="javascript:;">
              <img src="/image/project/mobile-3.jpg" alt="mobile development">
            </a>
          </nav>
          <a href="" class="btn btn-outline btn-block">See All Projects</a>
        </article>
      </section>
      
      <section class="content">
        <article class="container">
          <h1>Our Happy Clients</h1>
          <section class="client-list">
            <img src="/image/client/client-1.png" alt="">
            <img src="/image/client/client-2.png" alt="">
            <img src="/image/client/client-3.png" alt="">
            <img src="/image/client/client-4.png" alt="">
            <img src="/image/client/client-5.png" alt="">
            <img src="/image/client/client-6.png" alt="">
            <img src="/image/client/client-7.png" alt="">
            <img src="/image/client/client-8.png" alt="">
            <img src="/image/client/client-9.png" alt="">
            <img src="/image/client/client-10.png" alt="">
            <img src="/image/client/client-11.png" alt="">
            <img src="/image/client/client-12.png" alt="">
          </section>
        </article>
      </section>
      
      <section class="content two-col background-gray">
        <section class="container">
          <section class="entry-list">
            <h1 class="left"><i class="icon-blog-post"></i> Blog</h1>
            {{ range first 2 (where .Pages "Section" "blog") }}
              {{ .Render "summary"}}
            {{ end }}
            <a href="" class="btn btn-outline">See All</a>
          </section>
          <section class="entry-list">
            <h1 class="left"><i class="icon-calendar"></i> Events</h1>
            {{ range first 2 (where .Pages "Section" "events") }}
              {{ .Render "summary"}}
            {{ end }}
            <a href="" class="btn btn-outline">See All</a>
          </section>
        </section>
      </section>
{{ end }}