<section class="hero solid career-solid">
    <div class="container-sm career">
        <h1>Career</h1>
        <p>
            <i class="svg-contact"></i>
            <span>
        <span>Anything else want to talk</span> <br>
        <a href="mailto:hello@itsmoneo.com" title="hello@itsmoneo.com">hello@itsmoneo.com</a>
      </span>
        </p>
    </div>
</section>

<article class="content company">
    <img src="/assets/image/career-team.jpg" width="470" height="680" alt="" class="left">
    <h1>Teamplay is at the heart of what we do.</h1>

    <h2>Who is behind Moneo?</h2>
    <p>Moneo is an idea that consists of people. We are doers, enablers, problem solvers, approachers, disrupters, stargazers, communicators, developers, dreamers, future shapers, and leaders...</p>

    <h2>What does Moneo do?</h2>
    <p>We develop, apply, maintain, scale, test, implement, research and execute... See the job openings and seize the opportunity to be one of us.</p>
</article>

<section class="open-positions">
    <h1>Open Positions</h1>
    <div class="container">
        <div class="block" id="open-positions">
            <a href="https://linkedin.com" target="_blank">
                <p class="title"></p>
                <p class="location"></p>
            </a>
        </div>
    </div>
</section>
