<section class="content contact-form">
        <section class="container">
          <section class="left-side">
            <img src="/image/contact-slogan.jpg" alt="Got a project?">
          </section>
          <form action="" method="post">
            <input type="text" name="fullname" placeholder="name, surname">
            <input type="email" name="email" placeholder="e-mail address">
            <input type="tel" name="phone" placeholder="phone number">
            <textarea name="message" rows="10" placeholder="Say It"></textarea>
            <button type="submit">Send</button>
          </form>
        </section>
      </section>


<section class="content background-gray">
  <article class="container">
    <h1>Looking For a Job?</h1>
    <h4 class="subtitle">Join our team, here is the open positions</h4>

    <ul class="job-list">
        {{ range where (where .Site.Pages "Section" "jobs") ".Params.location" "!=" nil }}
      <li>
        <p class="location">{{ .Params.location }}</p>
        <h2>{{ .Title }}</h2>
        <p class="description">
          {{ .Description }}
        </p>
        <a href="{{ .URL }}" class="btn btn-blue">Apply</a>
      </li>
      {{ end }}
    </ul>
  </article>
</section>