<section class="hero full-background small-height" style="background-image: url(/assets/image/bg-technologies.jpg)">
    <h1>Technologies</h1>
</section>

<section class="technology-showcase" id="tab-content">
    <div class="container">
        <div class="tab">
            <div class="tab-content">
                <article class="active">
                    <h1>Technical integrity all the way. <br/>From ground up.</h1>
                    <p>Businesses deserve to be handled flawlessly. Exceptional engineering practices of Moneo
                        provides you with tailored back-end solutions that are globally reliable and stable.</p>

                    <ul class="pill-list">
                        <li class="pill">PHP</li>
                        <li class="pill">Node.js</li>
                        <li class="pill">Go</li>
                        <li class="pill">Laravel</li>
                        <li class="pill">Symfony</li>
                    </ul>
                </article>
                <article>
                    <h1>Software Craftmanship. <br/>Functionality at its best.</h1>
                    <p>The product or the business; either of the shines at first sight. Businesses and products
                        alike deserve the best software craftsmanship and the highest quality of code.</p>

                    <ul class="pill-list">
                        <li class="pill">JavaScript</li>
                        <li class="pill">Vue.js</li>
                        <li class="pill">React</li>
                        <li class="pill">HTML5/CSS3</li>
                    </ul>
                </article>
                <article>
                    <h1>The heart and soul of the product. <br/>Precisely works for you.</h1>
                    <p>The heart and soul of the business and the product is right at the core of the technology we
                        use. Tailored for the needs, perfected for the market, presented for the best teamwork.</p>

                    <ul class="pill-list">
                        <li class="pill">AWS</li>
                        <li class="pill">Google Cloud</li>
                        <li class="pill">nginx</li>
                        <li class="pill">Kubernetes</li>
                        <li class="pill">Jenkins</li>
                    </ul>
                </article>
                <article>
                    <h1>Solid database credibility. <br/>Maintain and sustain efficiently.</h1>
                    <p>Store, access and maintain the core of your business and product with latest available
                        technologies provided by Moneo and its partners that transcend traditional database solution
                        with modern approaches.</p>

                    <ul class="pill-list">
                        <li class="pill">MySQL / MariaDB</li>
                        <li class="pill">PostgreSQL</li>
                        <li class="pill">Redis</li>
                        <li class="pill">MongoDB</li>
                        <li class="pill">Elasticsearch</li>
                    </ul>
                </article>
            </div>
            <div class="tab-header-outer">
                <ul class="tab-header full-item">
                    <li class="active">
                        <img src="/assets/image/technology/backend.png" alt="Back-End">
                        Back-End
                    </li>
                    <li>
                        <img src="/assets/image/technology/frontend.png" alt="Front-End">
                        Front-End
                    </li>
                    <li>
                        <img src="/assets/image/technology/infastracture.png" alt="Infrastructure">
                        Infrastructure
                    </li>
                    <li>
                        <img src="/assets/image/technology/database.png" alt="Database">
                        Database
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="technology-process">
    <h1>Product Oriented and <br/>Excellence-driven Workflow</h1>
    <p>It’s no magic. If you research, read, apply and continue to learn as long as you work, your methodology grows with you. This enables your team to excel. That enables our customes’ project to thrive.</p>

    <section class="list">
        <article>
            <h1>Agile Methodology</h1>
            <p>Collaboration, self-organization and cross-functional teams. These are not just fancy terms, they are the definition of how we approach Agile software development and be ready for unpredictibility.</p>
        </article>
        <article>
            <h1>Up-to-date Technologies</h1>
            <p>Each project comes with its own unique requirements. While we always keep that in mind, we also constantly follow best practises across the industry, with a twist: We only provide our customers with the proven ones.</p>
        </article>
        <article>
            <h1>SOLID Architecture</h1>
            <p>Clean, sustainable, scalable and testable code is what we are proud of the most. That is why providing the state-of-the-art architecture to our customers is priority number one for us.</p>
        </article>
        <article>
            <h1>Software Craftmanship with Style</h1>
            <p>You design apps, websites, services, interactions and workflows. We design how it all fits into one reliable, and maintainable clean codebase.</p>
        </article>
        <article>
            <h1>Full-scale Code Review</h1>
            <p>Creating a non-threatening and collaborative environment for code review is an essential part of what we do. In order to excel at software development and create pixel-perfect systems, we offer you with conscious and systematic code review.</p>
        </article>
        <article>
            <h1>Repetitive Testing</h1>
            <p>Either it be in the early stages of development or before a big release, we believe in the power of iterative testing. Our methodologies and tools we use to test ensure a healthy and functional system overall.</p>
        </article>
    </section>
</section>
