@import "../component";

.btn{
  display: inline-block;
  min-width: 215px;
  height: 6.5rem;
  line-height: 6.2rem;
  font-size: 1.6rem;
  color: color(white);
  background: color(primary);
  padding: 0 40px;
  outline: none !important;
  border: none;
  @include transition(background-color 0.3s, transform 0.1s);

  @include border-radius(37.5px);
  @include icon('caret', 'after');

  &::after{
    display: inline-block;
    font-size: 0.65em;
    margin: 0 0 0 25px;
    @include transition(transform 0.3s)
  }

  &:hover{
    color: color(white);
    background: darken(color(primary), 5%);

    &::after{
      transform: translate(3px, 0);
    }
  }

  &:active{
    transform: translate(1px, 1px);
  }
}
