@import "../component";

section.latest-blog{
  min-height: 748px;
  padding: 100px 0;
  background: url(../image/bg-star.jpg) no-repeat 100% 100%/cover #192633;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  h1{
    text-align: center;
    font-size: 5.2rem;
    margin: 0 0 80px 0;
    color: color(white);

    @include media-breakpoint-down(md){
      font-size: 3.8rem;
      margin-bottom: 50px;
    }
  }

  a{
    color: color(white);

    &.read-more{
      font-size: 1.6rem;
    }
  }

  .nav-container{
    position: relative;
    width: 960px;
    margin: 0 auto;

    @include media-breakpoint-down(md){
      width: 100%;
      padding: 0 15px;
    }

    &::after{
      display: block;
      content: ' ';
      width: 470px;
      height: 2px;
      position: absolute;
      bottom: 62px;
      background: color(white);

      @include media-breakpoint-down(md){
        width: 90%;
      }
    }
  }

  nav{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(480px,1fr));

    @include media-breakpoint-down(md){
      display: block;
      padding-bottom: 80px;
    }

    a{
      display: inline-block;
      width: 370px;
      opacity: 0.9;
      margin: 0 0 0 130px;
      @include disable-link-animation();

      @include media-breakpoint-down(md){
        width: 100%;
        margin-left: 0;
        opacity: 1;
      }

      &+a{
        margin-top: 60px;

        @include media-breakpoint-down(md){
          margin-top: 30px;
        }
      }
    }

    .title{
      font-size: 2.8rem;
      font-family: $font-bold;
      line-height: 3.6rem;
      margin: 0;

      @include media-breakpoint-down(md){
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
    }

    .meta{
      font-size: 1.6rem;
      font-family: $font-regular;
      color: color(regular-2);
      margin: 20px 0 0 0;

      @include media-breakpoint-down(md){
        font-size: 1.4rem;
        margin-top: 5px;
      }

      .author{
        margin: 0 0 0 20px;

        @include media-breakpoint-down(md){
          margin-left: 0;
        }

        strong{
          color: color(white);
          font-weight: 300;
        }
      }
    }

    .featured{
      margin: 0 0 60px 0;

      @include media-breakpoint-down(md){
        margin-bottom: 30px;
      }

      a{
        opacity: 1;
        width: 470px;
        margin-left: 0;

        @include media-breakpoint-down(md){
          width: 100%;
        }

        .title{
          font-size: 4.4rem;
          line-height: 5.7rem;

          @include media-breakpoint-down(md){
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
        }
      }
    }
  }
}
