<section class="blog-top container-root">
    <div class="row p-0">
        <nav class="col-lg-8">
            <a href="javascript:;">All</a>
            {{ range ($.Site.GetPage "taxonomyTerm" "erdem").Pages }}
            <a href="/categories/{{ .Title | urlize }}/">{{ humanize .Title }}</a>
            {{ end }}
        </nav>
        {{- partial "search.html" . -}}
    </div>
</section>

<div class="hero solid auto-height">
    <section class="blog-list container">
        <div class="row">
            {{ range last 1 (where .Site.Pages "Params.type" "blog") }}
            <div class="col-md-4">
                <a href="{{- .URL | absURL -}}" title="" class="blog-post">
                    <div class="blog-image" style="background-image: url('{{- .Params.Thumbnail -}}'); background-size:cover;">
                    </div>
                    <p class="title">{{- .Title -}}</p>
                    <p class="meta">{{- .ReadingTime -}}&nbsp;min to read <span class="author">by <strong>{{- .Params.Author -}}</strong></span></p>
                </a>
            </div>
            {{ end }}
        </div>
    </section>
</div>
