<section class="hero solid career-solid">
    <div class="container-sm career">
        <h1>Career</h1>
        <p>
            <i class="svg-contact"></i>
            <span>
        <span>Anything else want to talk</span> <br>
        <a href="mailto:career@itsmoneo.com" title="career@itsmoneo.com">career@itsmoneo.com</a>
      </span>
        </p>
    </div>
</section>

<article class="content company">
    <img src="assets/image/career-team.jpg" width="470" height="680" alt="" class="left">
    <h1>We Believe <br>Our Team</h1>

    <h2>OUR CULTURE</h2>
    <p>Nearly a decade ago, we came up with an idea of setting up a great team with a goal of building awesome digital
        products for startups and companies. Like every other company out there, we started as a small business but
        dedicated ourselves to product details.</p>

    <h2>We Love</h2>
    <p>Scalable Architecture, Solid Development, Test-Driven Development, Restful API</p>
</article>

<section class="open-positions">
    <h1>Open Positions</h1>
    <div class="container">
        <div class="block">
            <a href="https://linkedin.com" target="_blank">
                <p class="title">Sr. Back-End Developer</p>
                <p class="location">Istanbul, Turkiye</p>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <p class="title">Sr. Back-End Developer</p>
                <p class="location">Istanbul, Turkiye</p>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <p class="title">Sr. Back-End Developer</p>
                <p class="location">Istanbul, Turkiye</p>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <p class="title">Sr. Back-End Developer</p>
                <p class="location">Istanbul, Turkiye</p>
            </a>
        </div>
    </div>
</section>
