<section class="hero full-background" style="background-image: url(assets/image/bg-company.jpg)">
    <h1>We are Moneo</h1>
    <p>We cooperate and consolidate with you to establish future-proof digital products.</p>
</section>

<article class="content">
    <img src="assets/image/company-story.jpg" width="470" height="670" alt="" class="left">
    <h1>Our Story</h1>
    <p>With its many years of combined professional experience on web and mobile development, Moneo has been around for the better part of 2010’s. Team members have been in the digital arena as doers, enablers, problem solvers and leaders. Our expertise in cloud platforms, startup ecosystem, software development, B2B needfinding, payment structures and e-commerce integrations promise you a frictionless sytem from the ground up.</p>

    <p>Then again, let us not talk about ourselves much more but hear, read and learn about us from the content clients we were fortunate to have the opportunity to work with.</p>
</article>

<article class="content">
    <p class="hero-text block company">Let it be a long-established corporation, an enthusiastic startup, or a well-known ad agency. We, Moneo, are here to help, solve and excel alongside with you. Listen to the voices of happy clients.</p>
</article>

<section class="clients">
    <h1>Happy Clients</h1>
    <section class="grid">
        <img src="assets/image/client/ibb.png" alt="">
        <img src="assets/image/client/kitapyurdu.png" alt="">
        <img src="assets/image/client/dugun.png" alt="">
        <img src="assets/image/client/lilakutu.svg" alt="" style="width:120px">
        <img src="assets/image/client/yeniben.png" alt="" style="width:120px;padding-bottom:10px">
        <img src="assets/image/client/palex.png" alt="" style="padding-top:15px">
    </section>
</section>

<section class="promo">
    <h1>Trained to solve, adapted to achieve.</h1>
    <section class="boxes">
        <article class="svg-promo-what-we-do">
            <h1>What We Do</h1>
            <p>We help successful businesses to initiate, escalate their game and launch business they created to great effort.</p>
            <a href="services.html">Services <i class="icon-caret"></i></a>
        </article>
        <article class="svg-promo-how-we-do-it">
            <h1>How We Do</h1>
            <p>We use our expertise for long-lasting infrastructural development, make sure it is stable and provide businesses with cutting-edge tech.</p>
            <a href="technologies.html">Technologies <i class="icon-caret"></i></a>
        </article>
        <article class="svg-promo-our-works">
            <h1>Works</h1>
            <p>We were very lucky to have the chance to work with exceptional and hardworking businesses. Listen to them.</p>
            <a href="index.html">Our Works <i class="icon-caret"></i></a>
        </article>
    </section>
</section>

<section class="client-reference">
    <section class="container">
        <h1>What Our Clients Say</h1>
        <section class="tab" id="tab-content">
            <section class="tab-content">
                <article class="active">
                    <p class="hero-text">Working with Moneo will always be a plus.</p>
                    <p>As an e-commerce company that handles thousands of orders per day and brings together millions of products per year with customers, we were skeptical about developing this great software and operation with a remote team. Moneo has eliminated all our concerns with its software development culture. While adapting to our applications and processes as soon as possible and developing our business requirements, they also have made contributions that strengthen our technical infrastructure. Working with Moneo will always be a plus.</p>
                    <section class="author">
                        <img src="https://picsum.photos/60/60/?random=995" alt="">
                        <p class="title">Onur</p>
                        <p class="position">Product Manager at kitapyurdu.com</p>
                    </section>
                </article>
                <article>
                    <p class="hero-text">Moneo is doing great work. Lorem ipsum dolor sit amet, consectetur adipisicing elit.  </p>
                    <section class="author">
                        <img src="https://picsum.photos/60/60/?random=965" alt="">
                        <p class="title">John Johansson</p>
                        <p class="position">Product Manager at HP</p>
                    </section>
                </article>
                <article>
                    <p class="hero-text">Moneo is doing great work. I'm impressed with the quality of their work and, more importantly,
                        their investment in our mutual success.</p>
                    <section class="author">
                        <img src="https://picsum.photos/60/60/?random=323" alt="">
                        <p class="title">John Johansson</p>
                        <p class="position">Product Manager at HP</p>
                    </section>
                </article>
            </section>
            <ul class="tab-header full-item client-logos" style="margin:100px auto;max-width:700px">
                <li class="active"><img src="assets/image/client/kitapyurdu.png" alt=""></li>
                <li><img src="assets/image/client/yeniben.png" alt="" style="width:120px"></li>
                <li><img src="assets/image/client/dugun.png" alt=""></li>
            </ul>
        </section>
    </section>
</section>
