<section class="hero solid auto-height">
    <div class="container-sm contact">
        <h1>Contact us</h1>
        <section class="block row">
            <section class="col-md-4">
                <h3>Mail Us</h3>
                <p>Talk anything that you want</p>
                <a href="mailto:hello@moneo.com">hello@moneo.com</a><br>
            </section>
            <section class="col-md-4">
                <h3>Our Office</h3>
                <p>Drink a coffee?</p>
                <address>
                    Esentepe Mahallesi Talatpaşa Cad.<br>No:5 34394  Şişli / İstanbul
                    <br><a href="https://goo.gl/maps/MiPLgdPfc7t" target="_blank">Show on Map</a>
                </address>
            </section>
            <section class="col-md-4">
                <h3>Phone</h3>
                <p>Let's talk</p>
                <a href="tel:+902129510992" class="tel">+90 212 951 09 92</a>
            </section>
        </section>
        <hr class="divider">
        <h1>Let's talk!</h1>
        <p class="brief">Let us use our unique expertise and renowned talents for your product or business. Tell us briefly about your idea and we make sure to get back to you real soon.</p>
        <form action="" method="post">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="full_name" placeholder="Full Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="email" placeholder="E-mail Address">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cont_select_center">
                        <div class="select_mate" data-mate-select="active" >
                            <select name="" onchange="" onclick="return false;" id="">
                                <option>Service Type</option>
                                <option>Another Option</option>
                            </select>
                            <p class="form-control styled-select-text"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                  <path d="M0-.75h24v24H0z" fill="none"/>
              </svg></span>
                            <div class="cont_list_select_mate">
                                <ul class="cont_select_int">  </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cont_select_center">
                        <div class="select_mate" data-mate-select="active" >
                            <select name="" onchange="" onclick="return false;" id="">
                                <option>Choose Budget</option>
                                <option>Another Option</option>
                            </select>
                            <p class="form-control styled-select-text"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                  <path d="M0-.75h24v24H0z" fill="none"/>
              </svg></span>
                            <div class="cont_list_select_mate">
                                <ul class="cont_select_int">  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" rows="6" placeholder="Type your message…"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>