<section class="hero solid">
    <h1>Services</h1>
    <div class="dots" aria-hidden="true">
        <i class="dot size-1 blue"></i>
        <i class="dot size-2 blue"></i>
        <i class="dot size-3 blue"></i>
        <i class="dot size-1 green"></i>
        <i class="dot size-2 green"></i>
        <i class="dot size-3 green"></i>
        <i class="dot size-1 yellow"></i>
        <i class="dot size-3 yellow"></i>
    </div>
</section>

<article class="bubble svg-bubble-backend">
    <h1>Back-End<br>Development</h1>
    <strong>About Service</strong>
    <p>Nearly a decade ago, we came up with an idea of setting up a great team with a goal of building awesome digital
        products for startups and companies. Like every other company out there, we started as a small business but dedicated
        ourselves to product details.</p>
    <strong>We Love</strong>
    <p>Scalable Architecture, Solid Development, Test-Driven Development, Restful API</p>
    <div class="dots" aria-hidden="true">
        <i class="dot size-2 blue"></i>
        <i class="dot size-3 blue"></i>
    </div>
</article>

<article class="bubble right svg-bubble-frontend">
    <h1>Front-End<br>Development</h1>
    <strong>About Service</strong>
    <p>Nearly a decade ago, we came up with an idea of setting up a great team with a goal of building awesome digital
        products for startups and companies. Like every other company out there, we started as a small business but dedicated
        ourselves to product details.</p>
    <strong>We Love</strong>
    <p>Scalable Architecture, Solid Development, Test-Driven Development, Restful API</p>
    <div class="dots" aria-hidden="true">
        <i class="dot size-1 yellow"></i>
        <i class="dot size-2 yellow"></i>
        <i class="dot size-3 yellow"></i>
    </div>
</article>

<article class="bubble svg-bubble-devops">
    <h1>DevOps</h1>
    <strong>About Service</strong>
    <p>Nearly a decade ago, we came up with an idea of setting up a great team with a goal of building awesome digital
        products for startups and companies. Like every other company out there, we started as a small business but dedicated
        ourselves to product details.</p>
    <strong>We Love</strong>
    <p>Scalable Architecture, Solid Development, Test-Driven Development, Restful API</p>
    <div class="dots" aria-hidden="true">
        <i class="dot size-1 green"></i>
        <i class="dot size-2 green"></i>
        <i class="dot size-3 green"></i>
    </div>
</article>

<section class="engagement-models">
    <h1>Engagement Models</h1>

    <section class="list">
        <article class="svg-engagement-team">
            <h1>Extended Team</h1>
            <p>We provide you with a team who has the expertise you’re looking for, and we take responsibility for the
                performance of these individuals or teams. You have full control of the systems development life cycle (SDLC)</p>
        </article>
        <article class="svg-engagement-product">
            <h1>Managed Product</h1>
            <p>We take on a wide range of responsibility by designing and co-creating a product with you. We manage the entire
                product development life cycle from planning to implementation to support and maintenance.</p>
        </article>
        <article class="svg-engagement-service">
            <h1>Managed Service</h1>
            <p>If you need help with just one service such as design, development, QA or DevOps, we can easily provide you
                with a team of specialists. With this type of collaboration, work processes and delivery are fully managed by us.</p>
        </article>
        <article class="svg-engagement-contact blue">
            <h1>So, whats next?</h1>
            <p>We are ready to work with you! Let’s meet and talk details about your project.</p>
            <a href="contact.html" title="Contact us">Contact Us <span class="icon-caret"></span></a>
        </article>
    </section>
</section>

<article class="pick-niche">
    <h1>Pick Out Your Niche</h1>
    <p>Moneo has many years of experience providing high-quality design and development services for market segments with
        strong demand for digital products. Explore the opportunities of web and mobile development for your business niche.</p>

    <ul class="niche">
        <li class="svg-niche-travel">Travel</li>
        <li class="svg-niche-health">Healthcare</li>
        <li class="svg-niche-logistics">Logistics</li>
        <li class="svg-niche-fitness">Health &amp; Fitness</li>
        <li class="svg-niche-event">Events</li>
        <li class="svg-niche-fintech">Fintech</li>
        <li class="svg-niche-marketplace">Marketplace</li>
        <li class="svg-niche-ondemand">On-demand Delivery</li>
    </ul>
</article>