<section class="hero full-background small-height" style="background-image: url('/image/bg-technologies.jpg')">
    <h1>Technologies</h1>
</section>

<section class="technology-showcase" id="tab-content">
    <div class="container">
        <div class="tab">
            <div class="tab-content">
                <article class="active">
                    <h1>Modern Architectural Approaches</h1>
                    <p>We use modern architectural patterns, such as MVP and MVVM, to create mighty and scalable applications
                        with clean, maintainable, and testable code.</p>

                    <ul class="pill-list">
                        <li class="pill">JavaScript</li>
                        <li class="pill">TypeScript</li>
                        <li class="pill">HTML5</li>
                        <li class="pill">CSS3</li>
                        <li class="pill">Angular</li>
                        <li class="pill">React</li>
                    </ul>
                </article>
                <article>
                    <h1>Modern Infrastructure Approaches</h1>
                    <p>We use modern architectural patterns, such as MVP and MVVM, to create mighty and scalable applications
                        with clean, maintainable, and testable code.</p>

                    <ul class="pill-list">
                        <li class="pill">HTML5</li>
                        <li class="pill">CSS3</li>
                        <li class="pill">Angular</li>
                        <li class="pill">React</li>
                    </ul>
                </article>
                <article>
                    <h1>Modern Backend Architectural Approaches</h1>
                    <p>We use modern architectural patterns, such as MVP and MVVM, to create mighty and scalable applications
                        with clean, maintainable, and testable code.</p>

                    <ul class="pill-list">
                        <li class="pill">PHP</li>
                        <li class="pill">Laravel</li>
                        <li class="pill">Symfony</li>
                        <li class="pill">Api Platform</li>
                    </ul>
                </article>
                <article>
                    <h1>Modern Database Architectural Approaches</h1>
                    <p>We use modern architectural patterns, such as MVP and MVVM, to create mighty and scalable applications
                        with clean, maintainable, and testable code.</p>

                    <ul class="pill-list">
                        <li class="pill">MySQL</li>
                        <li class="pill">MariaDB</li>
                        <li class="pill">PostgreSQL</li>
                        <li class="pill">Neo4J</li>
                    </ul>
                </article>
            </div>
            <ul class="tab-header full-item">
                <li class="active">
                    <img src="/image/technology/frontend.png" alt="Front-End">
                    Front-End
                </li>
                <li>
                    <img src="/image/technology/infastracture.png" alt="Infrastructure">
                    Infrastructure
                </li>
                <li>
                    <img src="/image/technology/backend.png" alt="Back-End">
                    Back-End
                </li>
                <li>
                    <img src="/image/technology/database.png" alt="Database">
                    Database
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="technology-process">
    <h1>Quality-Driven Processes</h1>
    <p>We work to deliver only high-quality digital products. To achieve this, we’ve come up with our own magic formula.</p>

    <section class="list">
        <article>
            <h1>Agile Methodologies</h1>
            <p>Scrum, Lean, Kanban, TDD – each have their strong suits. At Moneo, we pick the best development methodology
                for each project. Our clients are always active participants throughout the development process.</p>
        </article>
        <article>
            <h1>Proven Technologies</h1>
            <p>We follow industry best practices to secure applications and protect businesses and their customers from
                possible threats. We use only credible, tried-and-tested frameworks and libraries.</p>
        </article>
        <article>
            <h1>Modern Architectures</h1>
            <p>We create applications using the MVP and MVVM architectural patterns. This is how we manage to write clean,
                maintainable, and testable code.</p>
        </article>
        <article>
            <h1>Time-Honored Design Principles</h1>
            <p>We use the best software development principles: SOLID, KISS, and DRY. These principles ensure that your
                project is reliable and significantly reduce the cost of changes.</p>
        </article>
        <article>
            <h1>Exhaustive Code Reviews</h1>
            <p>We conduct code reviews as a regular development practice to improve the quality of your products and
                the skills of our team.</p>
        </article>
        <article>
            <h1>Iterative Testing</h1>
            <p>We do iterative testing to generate working software early in the software life cycle. We fix any bugs
                before release.</p>
        </article>
    </section>
</section>