<header class="{{ .Params.header_class }}">
    <section class="container-root">
        <a href="{{ .Site.BaseURL }}" class="logo">
            <img src="/assets/image/logo.svg" alt="moneo">
        </a>
        <nav>
      			{{ $url := .URL }}
            {{ range .Site.Menus.main }}
              <a href="{{ .URL | absURL }}" title="{{ .Name }}" {{ if eq $url .URL }}class="active"{{ end }}>{{ .Name }}</a>
            {{ end }}
        </nav>
        <i class="nav-button"><span></span></i>
        <nav class="mobile-nav">
            <ul>
                {{ range .Site.Menus.main }}
                  <li><a href="{{ .URL | absURL }}" title="{{ .Name }}" {{ if eq $url .URL }}class="active"{{ end }}>{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </section>
</header>
