<nav>
<i class="nav-button"><span></span></i>
<ul>
      <li><a href="{{- printf "/" | absURL -}}" title="Home">Home</a></li>
      {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="has-submenu">
            <a href="{{ .URL }}" title="What We Do">{{ .Name }}</a>
            <nav>
                  {{ range .Children }}
                  <a href="{{ .URL | absURL }}" title="{{ .Name }}">{{ .Name }}</a>
                  {{ end }}
            </nav>
            </li>
            {{ else }}
            <li><a href="{{ .URL | absURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
            {{ end }}
      {{ end }}
      
</ul>
</nav>