<section class="hero-slider no-js">
        <section class="slide" style="background-image: url(image/slide/we-are-moneo.jpg);">
            <article>
            <h1>We Are Moneo</h1>
            <p>We build solutions for business and life. Advanced web & mobile solutions,enterprise app & portals</p>
            </article>
        </section>
        <section class="slide" style="background-image: url(image/slide/we-are-moneo-lorem.jpg);">
            <article>
            <h1>You Are Moneo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusantium repudiandae corporis distinctio</p>
            </article>
        </section>
        <section class="slide" style="background-image: url(image/slide/we-are-moneo-dolor.jpg);">
            <article>
            <h1>They Are Moneo</h1>
            <p>Neque nihil numquam optio possimus provident quae quasi repudiandae temporibus veritatis voluptatibus.</p>
            </article>
        </section>
</section>